params {
    max_memory      = 124.GB
    max_cpus        = 24
    max_time        = 14.d
}
process {
    executor        = 'slurm'
    queue           = 'sahmri_cancer_hpc'
    maxRetries      = 2
}
executor {
    queueSize       = 10
    submitRateLimit = '10 sec'
}
singularity {
    enabled         = true
    autoMounts      = true
}
cleanup = true
profiles {
    debug {
    cleanup = false
    }
}
